.dart_tool/
.idea/
.vscode/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
dist/
node_modules/
pnpm-debug.log*
*.iml
android/.gradle/
android/local.properties
**/android/.gradle/
**/android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
**/ios/Flutter/ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
macos/Pods/
*.jks
*.keystore
*.p12
*.pem
key.properties
.env
.env.*
!.env.example
!**/.env.example
*.bak
*.tmp
*.log
*.apk
*.aab
*.apks
